html {
	width: 100%;
    height: 100%;
    background-color: rgb(114, 80, 126);
    color: white;
}

body {
	text-align: center;
	margin: 50px 18px;
}

img#face {
	display: block;
	border-radius: 100%;
	width: 100%;
	height: 100%;
	max-width: 300px;
	margin: auto;
}