footer#footer {
	position: relative;
	background-color: #202020;
	z-index: 2;
	padding: 1rem;


	a, p {
		color: #666565;
		font-size: .7rem;
	}


	li {
		list-style-type: none;

		span {
			text-decoration: underline;
		}
	}

	div#footer-container {
		max-width: 70rem;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;

		ul#social {
			display: flex;

			li {

				a.footer-icon {
					padding-right: 1rem;
					font-size: 1.9rem;
					text-decoration: none;

					&:hover {
						color: #9F9F9F;
					}
				}
			}
		}
	}
}