section.section-4 {

	border-bottom: none;

	p {
		padding: 1rem 0px;
	}
	
	div#contacts-flex-container {
		display: flex;
		justify-content: center;
		
		padding-top: 5rem;

		div#contacts-block {
			display: flex;
			flex-direction: column;

			padding: 3rem;
			border-radius: 4px;
			box-shadow: 0px 2px 4px 0px rgba(1, 1, 1, 0.2);

			background-color: #fff;

			h2 {
				font-weight: normal;
				color: rgb(231, 76, 60);

			}

			p {
				padding: .5rem 0 2rem 0;
			}

			a.button {
				margin: auto;
			}
		}
	}
}