section.section-5 {
	position: relative;
	color: #fff;
	border-bottom: none;
	box-shadow: 0 11px 21px -5px rgb(0, 0, 0);
	z-index: 3;
	
	h2 {
		font-weight: normal;

		span {
			font-weight: bold;
		}
	}

	>p {
		padding: 0.5rem 0px 2rem;
	}

	div#download-bg {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: url(../img/download-bg.jpg);
		background-position: center;
		background-size: cover;
		z-index: -1;
		filter: brightness(0.2);
	}
}