section.section-3 {

	>p {
		padding: 1rem 0px;
	}

	div#work-text {
		margin: 5rem auto 0 auto;
		padding: 2rem;
		max-width: 48rem;
		box-shadow: 0px 2px 4px 0px rgba(1, 1, 1, 0.2);
		background-color: #fff;
		border-radius: 4px;

		p {
			text-align: justify;
		}
	}
}