section.section-1 {
	padding: 0;
	
	div#anchor {
		position: absolute;
		width: 100%;
		text-align: center;
		top: -64px;
		z-index: 1;

		i {
			color: #e74c3c;
			background-color: #eaeaea;
			padding: .7rem;
			border-radius: 100%;
			border: 5px solid rgba(66, 66, 66, 0.27);
			background-clip: padding-box;
		}
	}

	div#shape-container {
		position: relative;
		z-index: 0;
		top: -20px;
		

		div.skew {
			background-color: #f4f5f9;
			height: 200px;
			position: absolute;
			top: 0px;
			right: 0px;
			width: 100%;
		}

		div.left-skew {
			transform: skewY(5deg);
		}

		div.right-skew {
			transform: skewY(-5deg);
		}
	}

	div#about-me {
		display: flex;
		max-width: 50rem;
		padding: 5rem 1rem;
		margin-left: auto;
		margin-right: auto;

		position: relative;
		z-index: 1;

		div#face {
			max-width: 20rem;
			flex-shrink: 0;
			align-self: flex-start;

			img {
				display: block;
				width: 100%;
				height: 100%;
				border-radius: 100%;
			}
		}

		div#about-me-text {
			padding-left: 5rem;
			position: relative;
			text-align: left;

			>p {
				padding-bottom: 2rem;
				text-align: justify;
			}
		}
	}
}